  <!-- Footer -->
<footer class="sticky-footer bg-gray-100">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>
                copyright &copy;
                @DateTime.Now.Year.ToString() - developed by
                <b><a href="https://indrijunanda.gitlab.io/" target="_blank">Panda-Tut</a></b>
            </span>
        </div>
    </div>
</footer>
<!-- Footer -->

@code { }
